.hero-services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 30px;
  width: 70%;
}

.hero-services span {
  font-size: 1.1rem;
  color: var(--text);
  font-weight: 400;
  opacity: .6;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.hero-services h1 {
  font-size: 3.2rem;
  font-weight: bold;
}

.hero-services h1 span {
  font-size: 3.2rem;
  font-weight: bold;
  color: var(--accent);
  opacity: 1;
}

.hero-services p {
  font-size: 1.3rem;
  opacity: .9;
}

@media screen and (max-width: 640px) {
  .hero-services {
    gap: 15px;
    width: 100%;
  }

  .hero-services span {
    font-size: 1rem;
  }

  .hero-services h1, .hero-services h1 span {
    font-size: 1.7rem;
  }

  .hero-services p {
    font-size: 1.2rem;
  }
}