.card-client-large {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
  border: 1px solid #ffffff80;
  background-color: #dfb3ff20;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 150px;
  transition: all 0.3s;
  
  view-timeline-name: --card-client-large;
  view-timeline-axis: block;

  animation-timeline: --card-client-large;
  animation-name: scaleElement;

  animation-range: entry 10% cover 30%;
  animation-fill-mode: both;
}

.card-client-large img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card-client-large:hover {
  transform: scale(1.05);
  border: 2px solid var(--primary);
  background-color: #dfb3ff2f;
  box-shadow: 0 0 20px var(--primary);
}